<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.file.manager.dao.business.EssayDao">

	<resultMap id="resultMap" type="com.file.manager.entity.Essay">
        <result property="id" column="ID"/>
        <result property="no" column="NO"/>
        <result property="name" column="NAME"/>
        <result property="typeNo" column="TYPE_NO"/>
        <result property="source" column="SOURCE"/>
        <result property="writetime" column="WRITETIME"/>
        <result property="content" column="CONTENT"/>
        <result property="createtime" column="CREATETIME"/>
        <result property="userNo" column="USER_NO"/>
        <result property="decription" column="DECRIPTION"/>
        <result property="otherName" column="OTHERNAME"/>
        <result property="folderNo" column="FOLDER_NO"/>
         <result property="path" column="PATH"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		ID,NO,NAME,TYPE_NO,SOURCE,WRITETIME,CONTENT,CREATETIME,USER_NO,DECRIPTION,FOLDER_NO,OTHERNAME,PATH
	</sql>
	
	<!-- 获取用户: 输出直接映射到对象 -->
	<select id="get" parameterType="String" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM db_essay
		WHERE no=#{no}
	</select>
	

	<!-- 查询用户, 不分页 -->
	<select id="queryAll" parameterType="Essay" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM db_essay
		<where>
	       <if test="no != null and no != ''">
				AND no = #{no}
		   </if>
	       <if test="name != null and name != ''">
				AND NAME = #{name}
		   </if>
	       <if test="typeNo != null and typeNo != ''">
				AND TYPE_NO = #{typeNo}
		   </if>
	       <if test="source != null and source != ''">
				AND SOURCE = #{source}
		   </if>
	       <if test="writetime != null and writetime != ''">
				AND WRITETIME = #{writetime}
		   </if>
	       <if test="content != null and content != ''">
				AND CONTENT = #{content}
		   </if>
	       <if test="createtime != null and createtime != ''">
				AND CREATETIME = #{createtime}
		   </if>
	       <if test="userNo != null and userNo != ''">
				AND USER_NO = #{userNo}
		   </if>
	       <if test="decription != null and decription != ''">
				AND DECRIPTION = #{decription}
		   </if>
		   <if test="otherName != null and otherName != ''">
				AND OTHERNAME = #{otherName}
		   </if>
		   <if test="folderNo != null and folderNo != ''">
				AND FOLDER_NO = #{folderNo}
		   </if>
		</where>
		order by CREATETIME desc
	</select>
	
	<!-- 分页查询 -->
	<select id="queryPage" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM db_essay
		<where>
	       <if test="searchFields.no != null and searchFields.ino != ''">
				AND no = #{searchFields.no}
			</if>
	       <if test="searchFields.name != null and searchFields.name != ''">
				AND NAME = #{searchFields.name}
			</if>
	       <if test="searchFields.typeNo != null and searchFields.typeNo != ''">
				AND TYPE_NO = #{searchFields.typeNo}
			</if>
	       <if test="searchFields.source != null and searchFields.source != ''">
				AND SOURCE = #{searchFields.source}
			</if>
	       <if test="searchFields.writetime != null and searchFields.writetime != ''">
				AND WRITETIME = #{searchFields.writetime}
			</if>
	       <if test="searchFields.content != null and searchFields.content != ''">
				AND CONTENT = #{searchFields.content}
			</if>
	       <if test="searchFields.createtime != null and searchFields.createtime != ''">
				AND CREATETIME = #{searchFields.createtime}
			</if>
	       <if test="searchFields.userNo != null and searchFields.userNo != ''">
				AND USER_NO = #{searchFields.userNo}
			</if>
	       <if test="searchFields.decription != null and searchFields.decription != ''">
				AND DECRIPTION = #{searchFields.decription}
			</if>
			<if test="searchFields.otherName != null and searchFields.otherName != ''">
				AND OTHERNAME = #{searchFields.otherName}
		   </if>
		   <if test="searchFields.folderNo != null and searchFields.folderNo != ''">
				AND FOLDER_NO = #{searchFields.folderNo}
		   </if>
		</where>
		order by CREATETIME desc
	</select>
	
	<!-- 新增 -->
	<insert id="insert" parameterType="Essay">
		INSERT INTO db_essay (
        	NO,
        	NAME,
        	TYPE_NO,
        	SOURCE,
        	WRITETIME,
        	CONTENT,
        	CREATETIME,
        	USER_NO,
        	DECRIPTION,
        	OTHERNAME,
        	FOLDER_NO,
        	PATH
		) VALUES (
        	#{no},
        	#{name},
        	#{typeNo},
        	#{source},
        	#{writetime},
        	#{content},
        	#{createtime},
        	#{userNo},
        	#{decription},
        	#{otherName},
        	#{folderNo},
        	#{path}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" >
        UPDATE db_essay
		<set>
			<if test="name != null and name != ''">
				NAME = #{name},
			</if>
			<if test="typeNo != null and typeNo != ''">
				TYPE_NO = #{typeNo},
			</if>
			<if test="source != null and source != ''">
				SOURCE = #{source},
			</if>
			<if test="writetime != null and writetime != ''">
				WRITETIME = #{writetime},
			</if>
			<if test="content != null and content != ''">
				CONTENT = #{content},
			</if>
			<if test="createtime != null and createtime != ''">
				CREATETIME = #{createtime},
			</if>
			<if test="userNo != null and userNo != ''">
				USER_NO = #{userNo},
			</if>
			<if test="decription != null and decription != ''">
				DECRIPTION = #{decription},
			</if>
			<if test="otherName != null and otherName != ''">
				OTHERNAME = #{otherName},
		   </if>
		   <if test="folderNo != null and folderNo != ''">
				FOLDER_NO = #{folderNo},
		   </if>
		   <if test="path != null and path != ''">
				PATH = #{path}
		   </if>
		</set>
        WHERE 
	        NO = #{no}
	</update>
	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="String">
	     DELETE FROM db_essay WHERE no=#{no}
	</delete>
</mapper> 
