<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.file.manager.dao.business.FolderDao">

	<resultMap id="resultMap" type="com.file.manager.entity.Folder">
        <result property="id" column="ID"/>
        <result property="no" column="NO"/>
        <result property="name" column="NAME"/>
        <result property="path" column="PATH"/>
        <result property="userNo" column="USER_NO"/>
        <result property="createtime" column="CREATETIME"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="type" column="TYPE"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		ID,NO,NAME,PATH,USER_NO,CREATETIME,DESCRIPTION,TYPE
	</sql>
	
	<!-- 获取用户: 输出直接映射到对象 -->
	<select id="get" parameterType="String" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM db_folder
		WHERE NO=#{no}
	</select>
	

	
	<!-- 分页查询 -->
	<select id="queryPage" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM db_folder
		<where>
	       <if test="searchFields.id != null and searchFields.id != ''">
				AND NO = #{searchFields.no}
			</if>
	       <if test="searchFields.name != null and searchFields.name != ''">
				AND NAME = #{searchFields.name}
			</if>
	       <if test="searchFields.path != null and searchFields.path != ''">
				AND PATH = #{searchFields.path}
			</if>
	       <if test="searchFields.userNo != null and searchFields.userNo != ''">
				AND USER_NO = #{searchFields.userNo}
			</if>
	       <if test="searchFields.createtime != null and searchFields.createtime != ''">
				AND CREATETIME = #{searchFields.createtime}
			</if>
	       <if test="searchFields.description != null and searchFields.description != ''">
				AND DESCRIPTION = #{searchFields.description}
			</if>
	       <if test="searchFields.type != null and searchFields.type != ''">
				AND TYPE = #{searchFields.type} or type =0
			</if>
		</where>
		 order by CREATETIME DESC
	</select>
	
	<!-- 不分页查询,填充下拉框 -->
	<select id="queryAll" resultMap="resultMap">
		SELECT id,NO,NAME,TYPE FROM db_folder order by type
	</select>
	
	<!-- 查询树结构 -->
	<select id="queryTrue" resultMap="resultMap">
		SELECT <include refid="columns" />
		FROM db_folder
		<where>
	       <if test="searchFields.id != null and searchFields.id != ''">
				AND NO = #{searchFields.no}
			</if>
	       <if test="searchFields.name != null and searchFields.name != ''">
				AND NAME = #{searchFields.name}
			</if>
	       <if test="searchFields.path != null and searchFields.path != ''">
				AND PATH = #{searchFields.path}
			</if>
	       <if test="searchFields.userNo != null and searchFields.userNo != ''">
				AND USER_NO = #{searchFields.userNo}
			</if>
	       <if test="searchFields.createtime != null and searchFields.createtime != ''">
				AND CREATETIME = #{searchFields.createtime}
			</if>
	       <if test="searchFields.description != null and searchFields.description != ''">
				AND DESCRIPTION = #{searchFields.description}
			</if>
	       <if test="searchFields.type != null and searchFields.type != ''">
				AND TYPE = #{searchFields.type} or type =0
			</if>
		</where>
		 order by type
	</select>
	
	
	<!-- 新增 -->
	<insert id="insert" parameterType="Folder" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO db_folder (
        	NO,
        	NAME,
        	PATH,
        	USER_NO,
        	CREATETIME,
        	DESCRIPTION,
        	TYPE
		) VALUES (
        	#{no},
        	#{name},
        	#{path},
        	#{userNo},
        	#{createtime},
        	#{description},
        	#{type}
		)
	</insert>
	
	<!-- 更新 -->
	<update id="update" >
        UPDATE db_folder
		<set>
			<if test="name != null and name != ''">
				NAME = #{name},
			</if>
			<if test="path != null and path != ''">
				PATH = #{path},
			</if>
			<if test="userNo != null and userNo != ''">
				USER_NO = #{userNo},
			</if>
			<if test="createtime != null and createtime != ''">
				CREATETIME = #{createtime},
			</if>
			<if test="description != null and description != ''">
				DESCRIPTION = #{description},
			</if>
			<if test="type != null and type != ''">
				TYPE = #{type}
			</if>
		</set>
        WHERE 
	        NO = #{no}
	</update>
	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="String">
	     DELETE FROM db_folder WHERE NO=#{no}
	</delete>
</mapper> 
