<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <typeAliases>
    	<!-- 
    	<typeAlias type="com.palm.market.account.entity.User" alias="User"/>
    	-->
    	<typeAlias type="com.file.manager.entity.User" alias="User" />
		<typeAlias type="com.file.manager.entity.UserLoginList" alias="UserLoginList" />
		<typeAlias type="com.file.manager.entity.Resources" alias="Resources"/>
		<typeAlias type="com.file.manager.entity.Roles" alias="Roles"/>
		<typeAlias type="com.file.manager.entity.ResourceRoles" alias="ResourceRoles"/>
		<typeAlias type="com.file.manager.entity.UserRoles" alias="UserRoles"/>
		<typeAlias type="com.file.manager.entity.Log" alias="Log"/>
		
    </typeAliases>

</configuration>
